<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Leaderboard</title>
  </head>
  <body>

    <h1>AgentOS</h1>

    <h2> Benchmarking Runs </h2>

    <ul>
    {% for run in runs %}
      <li>
        {{ run.display_string }}
        <a href="{% url 'run_detail' run.id %}">
            details
        </a>
      </li>
    {% endfor %}
    </ul>
    

    <h2> Component Registry </h2>

    <h3>Environments</h3>
    {% if environments %}
      <ul>
        {% for environment in environments %}
          <li>
            <a href="{% url 'component_detail' environment.id %}">
              {{ environment.name }}
            </a>
            - {{environment.description}}</li>
        {% endfor %}
      </ul>
    {% else %}
      <p>No Environments are available.</p>
    {% endif %}

    <h3>Agents</h3>
    {% if agents %}
      <ul>
        {% for agent in agents %}
          <li>
            <a href="{% url 'component_detail' agent.id %}">
              {{ agent.name }}
            </a>
            - {{ agent.description }}</li>
        {% endfor %}
      </ul>
    {% else %}
      <p>No Agents are available.</p>
    {% endif %}

    <h3>Policies</h3>
    {% if policies %}
      <ul>
        {% for policy in policies %}
          <li>
            <a href="{% url 'component_detail' policy.id %}">
              {{ policy.name }}
            </a>
            - {{ policy.description }}</li>
        {% endfor %}
      </ul>
    {% else %}
      <p>No Policies are available.</p>
    {% endif %}

    <h3>Datasets</h3>
    {% if datasets %}
      <ul>
        {% for dataset in datasets %}
          <li>
            <a href="{% url 'component_detail' dataset.id %}">
              {{ dataset.name }}
            </a>
            - {{ dataset.description }}</li>
        {% endfor %}
      </ul>
    {% else %}
      <p>No Datasets are available.</p>
    {% endif %}

    <h3>Trainers</h3>
    {% if trainers %}
      <ul>
        {% for trainer in trainers %}
          <li>
            <a href="{% url 'component_detail' trainer.id %}">
              {{ trainer.name }}
            </a>
            - {{ trainer.description }}</li>
        {% endfor %}
      </ul>
    {% else %}
      <p>No Trainers are available.</p>
    {% endif %}

  </body>
</html>
