<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Leaderboard</title>
  </head>
  <body>

    <h1>AgentOS</h1>

    <h2>Environments</h2>
    {% if environments %}
      <ul>
        {% for environment in environments %}
          <li>
            <a href="{% url 'component_detail' environment.id %}">
              {{ environment.name }}
            </a>
            - {{environment.description}}</li>
        {% endfor %}
      </ul>
    {% else %}
      <p>No Environments are available.</p>
    {% endif %}

    <h2>Agents</h2>
    {% if agents %}
      <ul>
        {% for agent in agents %}
          <li>
            <a href="{% url 'component_detail' agent.id %}">
              {{ agent.name }}
            </a>
            - {{ agent.description }}</li>
        {% endfor %}
      </ul>
    {% else %}
      <p>No Agents are available.</p>
    {% endif %}

    <h2>Policies</h2>
    {% if policies %}
      <ul>
        {% for policy in policies %}
          <li>
            <a href="{% url 'component_detail' policy.id %}">
              {{ policy.name }}
            </a>
            - {{ policy.description }}</li>
        {% endfor %}
      </ul>
    {% else %}
      <p>No Policies are available.</p>
    {% endif %}

    <h2>Datasets</h2>
    {% if datasets %}
      <ul>
        {% for dataset in datasets %}
          <li>
            <a href="{% url 'component_detail' dataset.id %}">
              {{ dataset.name }}
            </a>
            - {{ dataset.description }}</li>
        {% endfor %}
      </ul>
    {% else %}
      <p>No Datasets are available.</p>
    {% endif %}

    <h2>Trainers</h2>
    {% if trainers %}
      <ul>
        {% for trainer in trainers %}
          <li>
            <a href="{% url 'component_detail' trainer.id %}">
              {{ trainer.name }}
            </a>
            - {{ trainer.description }}</li>
        {% endfor %}
      </ul>
    {% else %}
      <p>No Trainers are available.</p>
    {% endif %}

  </body>
</html>
